extend layout
block content
  form(action="/form", method='POST')

    if user.id
      .row
        .col.s4
          img.responsive-img(src=user._json.avatar_url, alt="user.username")
        .col.s8
          label Github Account
          h4
            a(href="#{user._json.html_url}", target="_blank") #{user.username}
          h5 #{user.displayName}
          br
          a(href='/logout').btn.orange Logout

    if user.signed
      .row
        .col.12
          p.section
            | We have received your request to sign the CLA. Please check the github issue for further information, or contact <a href="mailto:admin@parity.io">admin@parity.io</a> for help.

    else
      .row
        .input-field.col.s12
          label(for='name') Full Name
          input.validate(id='name', name='name', type='text', value=user._json.name, required)
      .row
        .input-field.col.s12
          label(for='email') Contact E-Mail Address
          input.validate(id='email', name='email', type='email', value=user.email, required)
      .row
        .col.s12
          p.section.center-align
            | Please ensure you have read and agree to the&nbsp;
            a(href="https://parity.io/cla.html") Parity Technologies CLA
          iframe(src="https://parity.io/cla.html?disableNav=1")
      .row
        .input-field.col.s12
          label(for='signature') Type "I AGREE" if you have read and agree to the terms
          input.validate(id='signature', type='text', pattern="I AGREE", required)
      .row
        .input-field.col.s12.center-align.grey-text
          button.btn(type='submit', disabled) Submit
          p.section.message.center-align

